

<div ui-view>
  <h2 class="dashboard-header">Current Trips</h2>
  <div class="trip-display">
    <div class="trip-box" ng-repeat="trip in dash.trips" ng-click="dash.goToTrip(trip.id)">
      <ul>
        <li><h4>{{trip.trip_name}}</h4></li>
        <li>Date: {{trip.shortDate}}</li>
        <li>Nights: {{trip.duration}}</li>
        <li>Location: {{trip.location}}</li>
      </ul>
    </div>
  </div>
  <button class="btn btn-primary"  ui-sref="user.createTrip">Create Trip!</button>
  <button class="btn btn-primary"  ui-sref="user.joinTrip">Join Trip!</button>

</div>
