<div class="nav-menu">
  <ul class="nav-list">
    <li class="nav-list-item"><a ui-sref="dashboard">Home</a></li>
    <li class="nav-list-item"><a ui-sref="dashboard.preferences">Preferences</a></li>
    <li class="nav-list-item"><a ui-sref="dashboard">Messages</a></li>
    <li class="nav-list-item">
      <span class="greeting">Hello, {{dash.userData.currentUser.username}}!<!--
      --><span class="logout"><!--
        --><span ng-click="main.logout()">Logout</span>
        </span>
      </span>
    </li>
  </ul>
</div>

<div class="dashboard" ui-view>
  <h2 class="dashboard-header">Current Trips</h2>
  <div class="trip-display">
    <div class="trip-box" ng-repeat="trip in dash.tripList" ng-click="dash.goToTrip(trip.id)">
      <ul>
        <li><h4>{{trip.trip_name}}</h4></li>
        <li>Date: {{trip.shortDate}}</li>
        <li>Nights: {{trip.duration}}</li>
        <li>Location: {{trip.location}}</li>
      </ul>
    </div>
  </div>
  <button class="btn btn-primary"  ui-sref="dashboard.createTrip">Create Trip!</button>
  <button class="btn btn-primary"  ui-sref="dashboard.joinTrip">Join Trip!</button>

</div>
