<div class="nav-menu">
  <ul class="nav-list">
    <li>Home</li>
    <li>Preferences</li>
    <li>Messages</li>
  </ul>
  <span class="logout">Logout</span>
</div>
<div class="clear dashboard" ui-view>
  <h1>dashboard!</h1>
  <div class="trip-display">
    <div class="trip-box" ng-repeat="trip in dash.data.tripList" ng-click="dash.goToTrip(trip.id, trip.trip_name)">{{trip.trip_name}}</div><br />
  </div>
  <button ui-sref="dashboard.createTrip">Create Trip!</button>
  <button ui-sref="dashboard.joinTrip">Join Trip!</button>
</div>
