<h2>User Preferences</h2>
<div class="content-container">
  <p>Username: {{user.userData.currentUser.username}}</p>
  <p ng-if="user.userData.currentUser.email">Email: {{user.userData.currentUser.email}}</p>
  <p ng-if="!user.userData.currentUser.email">Add Email</p>
  <p>Add phone</p>
  <br />
  Default Gear:
  <ul>
    <li>
      <input type="text" ng-model="pref.equipmentName" placeholder="Add Default Equipment">
      <span >
        <button class="btn btn-primary" ng-click="pref.addDefaultEquipment({equipmentName: pref.equipmentName})">
          Add
        </button>
      </span>
    </li>

    <li class="default-equipment" ng-repeat="equipment in pref.defaultEquipment">
      {{equipment.equipment}}
      <button class="btn btn-primary" ng-click="pref.removeDefaultEquipment(equipment)">remove</button>
    </li>
  </ul>
</div>
