<h2 class="dashboard-header">Trip Name: {{dash.trip.info.trip_name}} ({{dash.trip.info.id}}) [{{dash.trip.info.organizer_id}}]</h2>
<div class="trip-nav">
  <ul class="trip-nav-list"><!--
  --><li class="trip-nav-item" ui-sref="user.dashboard.tripDisplay.tripOverview">Overview</li><!--
  --><li class="trip-nav-item" ui-sref="user.dashboard.tripDisplay.tripEquipment">Equipment</li><!--
  --><li class="trip-nav-item" ui-sref="user.dashboard.tripDisplay.tripMenu">Menu</li><!--
  --><li class="trip-nav-item" ui-sref="user.dashboard.tripDisplay.tripPrint">Print</li>
  </ul>
</div>

<div class="content-container">
    <div ui-view></div>

    <button class="btn btn-primary"  ui-sref="user.dashboard">Back</button>
</div>
