<div class="equipment">
  Add Personal: <input type="text" ng-model="dash.personalEquipmentAdd">
  <button class="btn btn-primary"  ng-click="dash.addPersonalEquipment(dash.currentTripId)">
    Add PE
  </button>
  <ul>Personal Equipment
    <li ng-repeat="equipment in dash.personalEquipment">
      {{equipment.equipment}}
      <button class="btn btn-primary" ng-click="dash.removeEquipment(equipment, dash.currentTripId)">remove</button>
    </li>
  </ul>
</div>

<div class="equipment">
  Add Group: <input type="text" ng-model="dash.groupEquipmentAdd"><button class="btn btn-primary"  ng-click="dash.addGroupEquipment(dash.currentTripId)">Add GE</button>
  <ul>Group Equipment
    <li ng-repeat="equipment in dash.groupEquipment">
      {{equipment.equipment}}
      <span ng-if="equipment.username">Claimed: {{equipment.username}}</span>
      <span ng-if="!equipment.username">Unclaimed [claim]</span>
      <button class="btn btn-primary" ng-click="dash.removeEquipment(equipment, dash.currentTripId)">remove</button>
    </li>
  </ul>
</div>
<div style="clear: both;"></div>
