<div class="equipment">
  Add Personal: <input type="text" ng-model="equip.personalEquipment"><button class="btn"  ng-click="equip.addPersonalEquipment(dash.currentTripId, dash.currentTripName)">Add PE</button>
  <ul>Personal Equipment
    <li ng-repeat="equipment in dash.data.personalEquipment">
      {{equipment.equipment}}
      <button class="btn" ng-click="equip.removeEquipment(equipment, dash.currentTripId, dash.currentTripName)">remove</button>
    </li>
  </ul>
</div>

<div class="equipment">
  Add Group: <input type="text" ng-model="equip.groupEquipment"><button class="btn"  ng-click="equip.addGroupEquipment(dash.currentTripId, dash.currentTripName)">Add GE</button>
  <ul>Group Equipment
    <li ng-repeat="equipment in dash.data.groupEquipment">
      {{equipment.equipment}}
      <span ng-if="equipment.username">Claimed: {{equipment.username}}</span>
      <span ng-if="!equipment.username">Unclaimed [claim]</span>
      <button class="btn" ng-click="equip.removeEquipment(equipment, dash.currentTripId, dash.currentTripName)">remove</button>
    </li>
  </ul>

</div>
<div style="clear: both;"></div>
