<div class="trip-nav">
  <ul class="trip-nav-list"><!--
  --><li class="trip-nav-item" ui-sref="dashboard.tripDisplay.tripOverview">Overview</li><!--
  --><li class="trip-nav-item" ui-sref="dashboard.tripDisplay.tripEquipment">Equipment</li><!--
  --><li class="trip-nav-item" ui-sref="dashboard.tripDisplay.tripMenu">Menu</li><!--
  --><li class="trip-nav-item" ui-sref="dashboard.tripDisplay.tripPrint">Print</li>
  </ul>
</div>

<div class="trip-container">
  <div class="trip-info">
    <h3>Trip Name: {{dash.currentTripName}}</h3>
    <br />
    <div ui-view></div>

    <button class="btn"  ui-sref="dashboard">Back</button>
  </div>
</div>
