<div class="trip-overview">

  <div class="trip-info"><div class="trip-info__title">Date</div><div class="trip-info__data">{{dash.trip.info.date | date : 'MMM d, y'}}</div></div>
  <div class="trip-info"><div class="trip-info__title">Location</div><div class="trip-info__data">{{dash.trip.info.location}}</div></div>
  <div class="trip-info">
    <div class="trip-info__title">
      Nights
    </div>
    <div class="trip-info__data">
      {{dash.trip.info.duration}}
    </div>
  </div>
  <div class="trip-info">
    <div class="trip-info__title">
      Members
    </div>
    <div class="trip-info__data">
      <ul class="members-list">
        <li class="trip-member" ng-repeat="user in dash.trip.users track by $index">
          <span class="user-profile-link" ng-click="dash.getUserProfile($index)">
            {{user.username}}
          </span>
        </li>
      </ul>
    </div>
  </div>


  <div class="message-board">
    Message Board:
    <div class="add-message">
      <form>
        <input class="message-input" type="text" ng-model="dash.addMessage" placeholder="Insert Message" />
        <span class="message-count">
          <span ng-if="dash.addMessage.length">{{dash.addMessage.length}}/250</span>
          <span ng-if="!dash.addMessage.length">0/250</span>
        </span>
        <span class="message-button">
          <button class="btn btn-info" ng-click="dash.sendMessage(dash.addMessage)">
            Send!
          </button>
        </span>
      </form>
    </div>
    <div class="trip-messages">
      <span class="messages-age">Newer</span>
      <p class="message-content" ng-repeat="message in dash.trip.messages | orderBy:'id':true">
        <span class="delete-message" ng-if="dash.userData.currentUser.id === message.user_id">
          <button ng-click="dash.deleteMessage(message.id)">Delete</button>
        </span>
        <span class="username">{{message.username}}:</span>
        {{message.message}}

      </p>
      <span class="messages-age">Older</span>
    </div>
  </div>



  <div class="profile" ng-show="dash.profileView"  ng-click="dash.closeProfile()">
    <div class="profile-info">
      <ul ng-click="dash.preventClose()">
        <li>{{dash.tempProfile.username}}</li>
        <li>{{dash.tempProfile.phone}}</li>
        <li>{{dash.tempProfile.email}}</li>
      </ul>
      <button class="btn">Close</button>
    </div>
  </div>


</div>
