/* Blue: rgb(27,150,254), 1b96fe */
/* yellow: rgb(255,243,0), fff300 */
/* green: rgb(60,100,60), #3C643C */
/* red: rgb(185,6,0), b90600 */
/* brown: rgb(120,72,0), 784800 */

* {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}


body {
  background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,.7) 4%, rgba(0,0,0,.5) 10%, rgba(0,0,0,.1) 40%, transparent 100%), url('/assets/imgs/bg-img.jpg');
  background-repeat: repeat-x, repeat;
  background-position: 0 175px;
  background-size: 100% 100vh, auto;
}

a {
  color: #fff300;
}

h3 {
  padding: 10px;
  margin: 0;
}



.nav-menu {
  position: relative;
  top: -35px;
  height: 1px;
}

.nav-list {
  padding-left: 10px;
  width: 100%;
}

.nav-list-item {
  display: inline-block;
  padding: 0 5px;
}

.greeting {
  position: absolute;
  right: 15px;
  top: 0;
}

.logout {
  color: white;
  padding: 0 10px;
  margin-left: 10px;
  border-left: 1px solid rgba(0,0,0,.3);
}

.logout span {
  cursor: pointer;
}

.dashboard-header {
  margin: 0;
  padding: 20px 0 10px;
}

.header {
  box-shadow:
    0 2px 0 0 #b90600,
    0 6px 0 0 #fff300,
    0 8px 0 0 #1b96fe;
  background: url('../assets/imgs/logo2.png'), linear-gradient(rgba(0,60,0,.5) 0%, rgba(0,60,0,.5) 100%), url('../assets/imgs/header-bg.png');
  /*background-color: rgb(60,100,60);*/
  background-repeat: no-repeat, repeat, repeat;
  background-position: center 10px;
  height: 175px;
  margin: 0 0 8px;
}

input {
  color: black;
}
.container {
  /*text-align: center;*/
  background-color: rgba(255,255,255,.6);
  color: black;
  width: 100%;
  /*max-width: 1000px;*/
  padding: 0 10px 20px;
  margin: 0 auto;
}

.content {
  text-align: center;
}

.user-profile-link {
  cursor: pointer;
  /*color: yellow;*/
}

.content-container {
  background-color: white;
  color: black;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}

.members-list {
  position: relative;
}

.profile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,.7);
}

.profile-info {
  border: 1px solid rgba(0,0,0,.3);
  position: fixed;
  top: 33vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  width: 25%;
  min-width: 200px;
  background-color: white;
  margin: 0 auto;
}

.trip-nav {
  width: 100%;
  max-width: 1000px;
  /*border: 1px solid red;*/
  margin: 0 auto;
}

.trip-nav-list {
  margin: 0;
  padding: 0;
  text-align: left;
}

.trip-nav-item {
  background-color: white;
  display: inline-block;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,.3);
  border-right: 1px solid rgba(0,0,0,.3);
}

.trip-nav-item:hover {
  background-color: rgb(255,243,0);
}

.trip-box {
  color: black;
  display: inline-block;
  width: 200px;
  height: 150px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 1s;
}

.trip-box:hover {
  background-color: rgba(27,150,254,.7);
  position: relative;
  top: 3px;
  transition: all .2s;
}

.trip-member {
  list-style-position: inside;
}

.equipment {
  display: inline-block;
  float: left;
  width: 45%;
  margin: 10px auto;
}

.claim-equipment {
  color: yellow;
  cursor: pointer;
}

.trip-menu {
  text-align: center;
  border: 1px solid green;
  display: flex;
  flex-wrap: wrap;
}

.trip-menu-day {
  flex: 1 25%;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.trip-meal {
  /*border: 1px solid blue;*/
  height: 100px;
  overflow: scroll;
}


/*Desktop*/
.menu-trip {
  margin: 20px 0;
  border: 1px solid black;
}

.menu-row {
  display: flex;
  width: 100%;
}

.menu-day {
  flex: 0 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}

.menu-meal {
  flex: 1 0;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
}

.menu-items {
  position: relative;
}

.menu-delete {
  position: absolute;
  top: 0;
  right: 0;
}

.menu-input {
  width: 100%;
  text-align: center;
}

.add-item, .food-item {
  width: 35%;
  display: inline-block;
}

.add-qty, .food-qty {
  width: 35%;
  display: inline-block;
  margin: 0 5px;
}

.food-header, .qty-header {
  border-bottom: 1px solid rgba(0,0,0,.3);
  padding: 2px;
}

.small-menu {
  display: none;
}

.toggle {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.toggle-btn {
  width: 40%;
  padding: 3px;
  margin-top: 10px;
}
/*Media Query*/

@media (max-width: 600px) {
  .menu-meal {
    flex: 1 100%;
    border: none;
  }

  .menu-trip {
    border: none;
  }

  .small-menu {
    display: block;
    text-transform: capitalize;
  }

  .small-day {
    border: 1px solid rgba(0,0,0,.3);
  }

  .menu-row {
    flex-wrap: wrap;
  }

  .menu-header {
    display: none;
  }

  .menu-day {
    display: none;
  }

  .toggle-btn {
    width: 30%;
    padding: 3px;
    margin-top: 10px;
  }


}
